.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid $secondary-font;
    border-radius: 0 0 0.2rem 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba($secondary-font, 0.3);
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    width: 100%;
    @media only screen and (min-width: 768px){
        min-width: 300px;
        max-width: 33%;
    }
}

.card-image {
    height: 200px;
    overflow: hidden;
    transition: height 1s;
    img {
        height: 100%;
        width: 100%;
        transition: all 1s;
        &:hover {
            transform: scale(1.3);
        }
    }
}

.card-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    p {
        font-size: 0.8rem;
    }
}

.card-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card-button {
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba($secondary-font, 0.3);
    display: inline-block;
    font-family: "Lato", "Arial", sans-serif;
    padding: 0.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
    @media only screen and (min-width: 768px){
        width: auto;
    }
}

.active, .active:visited {
    background-color: $primary-color;
    color: inherit;
    transition: background-color 1s;
    &:hover {
        background-color: $primary-light;
    }
    &:active {
        transform: translate(1px, 1px);
    }
}

.disabled, .disabled:visited {
    background-color: lighten($primary-font, 75%);
    color: $secondary-font;
    cursor: default;
}